.bannerClients {
  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include responsive(tabs) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(tabs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__box {
    @include flex-center;
    flex-direction: column;
    height: 16rem;
    color: var(--text-primary);
  }
  &__client-number {
    color: var(--color--primary-500);
    font-size: 4.6rem;
  }
}
