*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  background-color: var(--color-bg);
  position: relative;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 17.4rem) [col-end]
    )
    [center-end] 1fr [full-end];
  @include responsive(largeScreen) {
    grid-template-columns:
      [full-start] 1fr [center-start] repeat(
        8,
        [col-start] minmax(17.4rem, 22rem) [col-end]
      )
      [center-end] 1fr [full-end];
  }
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--icon-primary);
  color: var(--icon-primary);
  cursor: pointer;
}
