*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 17.4rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  color: var(--color--primary-500);
  fill: var(--color--primary-500);
  cursor: pointer;
}
