*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  background-color: var(--color-bg);
  position: relative;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 17.4rem) [col-end]
    )
    [center-end] 1fr [full-end];

  @include responsive(largeScreen) {
    grid-template-columns:
      [full-start] 1fr [center-start] repeat(
        8,
        [col-start] minmax(17.4rem, 1fr) [col-end]
      )
      [center-end] 1fr [full-end];
  }
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--icon-primary);
  color: var(--icon-primary);
  cursor: pointer;
}

/* Disable scrolling when navigation menu is open */
.container.disable-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 9998;
  display: none;
}

body.nav-open .backdrop {
  display: block;
}
