.footer {
  grid-column: center-start / center-end;
  padding-inline: var(--space-10);

  &__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 1.5fr;
    padding: var(--space-22) var(--space-10);

    @include responsive(tabs) {
      padding: var(--space-19) var(--space-5);
    }
  }

  &__logoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;

    @include responsive(tabs) {
      grid-column: 1/-1;
      justify-self: center;
      align-items: center;
    }
  }

  &__logoSlug {
    text-align: left;
    width: 80%;

    @include responsive(tabs) {
      text-align: center;
      width: 80%;
    }
  }

  &__listHeader {
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: var(--space-13);
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-top: var(--space-5);
  }
  &__link,
  &__link:active,
  &__link:link {
    color: var(--color-grey);
    transition: color var(--transition-timing-2) ease-in;

    &:hover {
      color: var(--color--primary-600);
    }
  }
  &__news__text {
    width: 70%;

    @include responsive(tabs) {
      text-align: center;
      width: 100%;
    }
  }

  &__inputContainer {
    position: relative !important;
    margin-top: var(--space-10);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive(tabs) {
      align-items: center;
    }
  }

  input[type="email"] {
    outline: none;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    border: 1px solid var(--color-grey);
    background-color: transparent;

    &:focus {
      outline: none;
      border: 1px solid var(--color--primary-600);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey);
      font-family: inherit;
      font-size: inherit;
      font-weight: 400;
    }
    @include responsive(tabs) {
      width: 70%;
    }
  }

  &__icon {
    position: absolute;
    right: 40px;
    fill: var(--color--primary-600);

    @include responsive(tabs) {
      right: 150px;
    }
    @include responsive(mobile-lg) {
      right: 120px;
    }
    @include responsive(mobile-md) {
      right: 85px;
    }
    @include responsive(mobile-sm) {
      right: 60px;
    }
  }

  &__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--color-grey--light-1);
    padding: var(--space-10) var(--space-15);

    @include responsive(mobile-lg) {
      flex-direction: column;
      gap: var(--space-10);
    }
  }

  &__linkContainer {
    ul {
      @include flex-center;
      gap: var(--space-15);
    }
  }

  &__newsletter {
    @include responsive(tabs) {
      grid-column: 1/-1;
      text-align: center;
      margin-top: var(--space-13);
    }
  }

  &__support,
  &__services,
  &__quickLinks {
    @include responsive(tabs) {
      grid-column: 1/-1;
      text-align: center;
    }
  }
}
