.header {
  display: grid;
  grid-template-columns: 38rem 1fr 38rem;
  height: 10rem;
  border-bottom: 1px solid var(--color--primary-50);
  box-shadow: var(--box-shadow-bottom);

  &__left {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__logoName {
    font-size: var(--font-size-xlg);
    color: var(--color--primary-950);
    font-weight: 500;
    margin-right: var(--space-10);
  }

  &__logoPicture {
    width: 6rem;
    height: 6rem;
    @include flex-center;

    img {
      @include image-fit;
    }
  }

  &__middle {
    @include flex-center;
  }
  &__navigations {
    display: flex;
    gap: var(--space-10);
  }
  &__nav {
    padding: var(--space-9) var(--space-13);
  }

  &__link:visited,
  &__link:link {
    color: var(--color-grey);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: var(--font-size-smd);
    transition: color var(--transition-timing-2)
      cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: var(--color--primary-600);
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-8);
  }

  &__icon {
    transition: transform var(--transition-timing-2)
      cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      transform: scale(1.05);
    }
    &--sun--active {
      display: inline-block;
    }
    &--sun--hidden {
      display: none;
    }
    &--moon--active {
      display: inline-block;
    }
    &--moon--hidden {
      display: none;
    }
    &--menu--active {
      display: inline-block;
    }
    &--menu--hidden {
      display: none;
    }
    &--close--active {
      display: inline-block;
    }
    &--close--hidden {
      display: none;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    gap: var(--space-5);
  }

  &__btn {
    transition: box-shadow var(--transition-timing-3)
      cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      box-shadow: var(--box-shadow-all-side);
    }
  }
}
