.header {
  &__block {
    position: relative;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns:
      [full-start] 1fr [center-start] repeat(
        8,
        [col-start] minmax(min-content, 17.4rem) [col-end]
      )
      [center-end] 1fr [full-end];
    z-index: 999;

    @include responsive(largeScreen) {
      grid-template-columns:
        [full-start] 1fr [center-start] repeat(
          8,
          [col-start] minmax(17.4rem, 1fr) [col-end]
        )
        [center-end] 1fr [full-end];
    }
  }

  grid-column: center-start / center-end;
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: 38rem 1fr 38rem;
  height: 10rem;
  border-bottom: 1px solid var(--border-primary);
  box-shadow: var(--box-shadow-bottom);
  background-color: var(--color-bg);
  @include responsive(desktop-small) {
    grid-template-columns: 30rem 1fr 30rem;
  }

  @include responsive(tabs) {
    display: flex;
    justify-content: space-between;
    height: 8rem;
  }

  @include responsive(mobile-md) {
    margin: 0 4px;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__logoName {
    font-size: var(--font-size-xlg);
    color: var(--text-primary);
    font-weight: 700;
    margin-right: var(--space-10);
    @include responsive(desktop-small) {
      font-size: var(--font-size-lg);
      margin-right: var(--space-7);
    }
    @include responsive(mobile-lg) {
      font-size: var(--font-size-md);
      margin-right: var(--space-3);
    }
  }

  &__logoPicture {
    width: 6rem;
    height: 6rem;
    @include flex-center;

    @include responsive(mobile-lg) {
      width: 4.6rem;
      height: 4.6rem;
    }

    img {
      @include image-fit;
    }
  }

  &__middle {
    @include flex-center;

    @include responsive(tabs) {
      display: none;
    }
  }
  &__navigations {
    display: flex;
    gap: var(--space-6);

    @include responsive(desktop-small) {
      gap: var(--space-3);
    }
  }
  &__nav {
    padding: var(--space-9) var(--space-10);
  }

  &__link:visited,
  &__link:link {
    font-size: var(--font-size-smd);
    font-weight: 500;
    color: var(--text-light-gray);
    text-transform: capitalize;
    transition: color var(--transition-timing-2)
      cubic-bezier(0.075, 0.82, 0.165, 1);

    @include responsive(desktop-small) {
      letter-spacing: normal;
    }

    &:hover {
      color: var(--color--primary-500);
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-8);

    @include responsive(mobile-lg) {
      gap: var(--space-13);
    }
  }

  &__icon,
  svg {
    @include flex-center;
    transition: transform var(--transition-timing-2)
      cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      transform: scale(1.05);
    }

    &--sun--active {
      display: inline-block;
    }
    &--sun--hidden {
      display: none;
    }

    &--moon--active {
      display: inline-block;
    }
    &--moon--hidden {
      display: none;
    }

    &--menu,
    &--close {
      display: none;
      @include responsive(tabs) {
        display: inline-block;
      }
      &--active {
        display: none;
        @include responsive(tabs) {
          display: inline-block;
        }
      }
      &--hidden {
        display: none;
      }
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    gap: var(--space-5);

    @include responsive(mobile-lg) {
      display: none;
    }
  }

  &__btn {
    padding: var(--space-7) var(--space-13);
    transition: box-shadow var(--transition-timing-3)
      cubic-bezier(0.075, 0.82, 0.165, 1);

    @include responsive(desktop-small) {
      letter-spacing: normal;
      padding: var(--space-8) var(--space-11);
    }

    @include responsive(tabs) {
      padding: var(--space-5) var(--space-11);
    }
    &:hover {
      box-shadow: var(--box-shadow-all-side);
    }
  }
}

.header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  @include responsive(largeScreen) {
    margin: 0 13rem;
  }
}
