.main {
  grid-column: full-start / full-end;
  padding-inline: 1rem;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 17.4rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.section {
  &__hero {
    background-color: var(--color-white);
    grid-column: center-start / center-end;
    position: relative;
  }
  &__services {
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__whyus {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;

    @include responsive(tabs) {
      margin-top: 50rem;
    }
  }

  &__team {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }

  &__offers {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__pricing {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__projects {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__testimonial {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__bannerClients {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__brands {
    margin-top: 20rem;
    background-color: var(--color-white);
    grid-column: center-start / center-end;
  }
  &__details {
    margin-bottom: var(--space-17);
  }

  &__textGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    margin-bottom: var(--space-5);
    width: 55%;

    @include responsive(mobile-lg) {
      width: 90%;
    }
  }

  &__text {
    color: var(--color-grey);
    width: 55%;

    @include responsive(mobile-lg) {
      width: 90%;
    }
  }
}
